* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  font-size: 90%;
  box-sizing: border-box;
  font-family: "Epilogue", sans-serif;
  scroll-behavior: smooth;
}

@media (max-width: 768px) {
  html {
    font-size: 80%;
  }
}

/* Utility Classes */
:root {
  --primary-color: transparent;
  /* Dark background with transparency */
  --white: rgba(255, 255, 255, 0.8);
  /* Soft white for text */
  --black: rgba(0, 0, 0, 0);
  /* Subtle shadow */
  --font-family: "Arial", sans-serif;
  --transition: all 0.3s ease;
}

.glass-effect {
  background: var(--primary-color);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0 4px 30px var(--black);
}

.h-1 {
  font-size: 3.5rem;
}

.h-3 {
  font-size: 1.3rem;
}

.h-4 {
  font-size: 1.2rem;
}

.h-5 {
  font-size: 1.1rem;
}

/*utils*/
.btn-style {
  --b: 3px;
  /* border thickness */
  --s: 0.45em;
  /* size of the corner */
  --color: #373b44;

  text-decoration: none;
  padding: calc(0.5em + var(--s)) calc(0.9em + var(--s));
  color: var(--color);
  --_p: var(--s);
  background: conic-gradient(
      from 90deg at var(--b) var(--b),
      #0000 90deg,
      var(--color) 0
    )
    var(--_p) var(--_p) / calc(100% - var(--b) - 2 * var(--_p))
    calc(100% - var(--b) - 2 * var(--_p));
  transition:
    0.3s linear,
    color 0s,
    background-color 0s;
  outline: var(--b) solid #0000;
  outline-offset: 0.6em;
  font-size: 16px;

  border: 0;

  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.btn-style:hover,
.btn-style:focus-visible {
  --_p: 0px;
  outline-color: var(--color);
  outline-offset: 0.05em;
}

.btn-style:active {
  background: var(--color);
  color: #fff;
}
