---
import "./../styles/global.css"
import About from "../components/About.astro"
import Home from "../components/Home.astro"
import Projects from "../components/Projects.astro"
import Links from "../components/Links.astro"
import Email from "../components/Email.astro"
import Header from "../components/Header.astro"
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
     <meta name="viewport" content="width=device-width, initial-scale=1.0" />
     <title>Astro</title>
  </head>
  <body>
    <div>
      <Header />
      <Home />
      <About />
      <Projects />

      <div class="link">
        <Links/>
      </div>

      <div class="email">
        <Email/>
      </div>
    </div>
  </body>
</html>


<style>
  .link {
    position: fixed;
    bottom: 1rem;
    left: 1rem;
  }

  .email {
    position: fixed;
    bottom: 1rem;
    right: 2rem;
  }
</style>
