---
import Layout from '../layout/Layout.astro';
import image from './../images/profile.png';
import Title from './../components/Title.astro';
import { Image } from 'astro:assets';
import puceIcon from './../assets/icons/puce.svg?raw';
import { technologies } from '../data';
---

<Layout>
  <div class="no-flex" id="about">
    <Title>__About Me</Title>
  </div>

  <div class="container h-4">
    <div class="description">
      <span
        >Hi there! Still Manohy here, a passionate software engineer who loves
        to build things for the web(sometime useless, but still beautifull).
        Whether it is coding up a storm or crafting a smooth user experience, I
        am all in. Software is my playground, and I enjoy solving problems one
        line at a time. Let\'s make something amazing together! <br />
        My journey into software engineering began in 2022 when I decided to dive
        into the world of hackathons <a
          href="https://www.facebook.com/Techzara/photos/a.152154345343592/1100115003880850/?type=3&app=fbl"
          >@HIU</a
        >. I joined my school team at <a
          href="https://www.facebook.com/Techzara/photos/a.152154345343592/1100115003880850/?type=3&app=fbl"
          target="_blank">@ESPA</a
        > and I was hooked. I tackled frontend development using React, HTML, and
        CSS, and the experience ignited my passion for building digital products
        that matter. <br />
        I hold a Master's Degree in Telecommunication Engineering, which gave me
        a solid foundation in tech and problem-solving. Over the past two years,
        I have honed my skills as a full-stack developer, working with diverse technologies
        to create high-quality, user-centric applications. <br />
        Lately, I have been diving into a wide range of exciting technologies, and
        I am always excited to learn more and expand my toolkit. Here's a quick look
        at what I have ve been working with recently:
      </span>

      <div class="techno">
        {
          technologies.map((tech) => (
            <div>
              <span class="icon">
                <Fragment set:html={puceIcon} />
              </span>
              <span>{tech.name}</span>
            </div>
          ))
        }
      </div>
    </div>
    <div class="image">
      <Image src={image} alt="profile" />
    </div>
  </div>
</Layout>

<style>
  .container {
    display: flex;
    gap: 5rem;
    justify-content: center;
    margin-bottom: 10rem;
  }

  @media (max-width: 768px) {
    .container {
      flex-direction: column;
      align-items: center;
    }
  }

  .no-flex {
    align-self: flex-start;
  }

  .description {
    color: #111;
    display: flex;
    flex-direction: column;
    width: 60%;
  }

  @media (max-width: 768px) {
    .description {
      width: 100%;
    }
  }

  .techno {
    color: #111;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 40rem;
    padding-top: 1rem;
    gap: 1rem;
  }
  @media (max-width: 768px) {
    .techno {
      width: 100%;
      grid-template-columns: 1fr;
    }
  }

  .image {
    width: 30%;
  }
  @media (max-width: 768px) {
    .image {
      width: 100%;
      display: flex;
      justify-content: center;
    }
  }

  .image img {
    width: 18rem;
    height: auto;
    border-radius: 0.2rem;
    filter: grayscale(100%);
    transition: filter 0.3s ease-in-out;
  }

  .image img:hover {
    filter: none;
  }

  .icon {
    display: inline-block;
    width: 1rem;
    height: 1rem;
  }
</style>
