---
import Layout from "./../layout/Layout.astro"
const name = "Manohy RAJAONAH"
const title = "I create high-quality software solutions"
const description = "I specialize in crafting accessible, user-centered products, with a focus on both system design and development. Bring ideas to life with seamless functionality and intuitive interfaces."
const fun = "I guess, It's Software Engineering xD"
---
<Layout>
  <div class="big-container" id="home">
    <div class="container glass-effect">
      <span class="h-3 intro">Hi, my name is </span>
      <span class="h-1 name">{name}</span>
      <span class="h-1 title">{title}</span>
      <div class="h-4 description">
        <span>{description}</span>
        <span>{fun}</span>
      </div>
      <div class="button">
        <button class="btn-style">Have an interview with me</button>
      </div>
    </div>
  </div>
</Layout>

<style>
  .big-container  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .container {
    display: flex;
    flex-direction: column;
 
  }
  @media (max-width: 768px) {
  .big-container {
    padding-bottom: 5rem;
  }
}


  .intro {
    padding-bottom: 1rem;
  }

  .name {
    font-weight: bolder;
  }

  .title {
    font-weight: bolder;
    padding-bottom: 1rem;
  }

  .description {
    max-width: 40rem;
  }
  
  .button {
    padding-top: 2rem;
  }
</style>
