---
import Layout from '../layout/Layout.astro';
import Project from './Project.astro';
import Title from './Title.astro';
import { projects as listProjects} from '../data';
---

<Layout class="mt-2">
  <Title>__Things I've Build</Title>
  <div class="container" id="projects">
    {
      listProjects.length > 0 &&
        listProjects.map((project) => {
          return (
            <Project
              name={project.name}
              description={project.description}
              technologies={project.technologies}
              link={project.live ? project.live : project.github}
            />
          );
        })
    }
  </div>
</Layout>

<style>
  .container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
  }
</style>
