---
import Link from "./../assets/icons/link.svg?raw";
const {name, description, technologies} = Astro.props;
---


<div class="container">
  <div class="link">
    <Fragment set:html={Link} />
  </div>
  <span class="project-title">{name}</span>
  <span class="project-description">{description}</span>
  <div class="project-techno-container">
  {
    technologies.map((t: any) => {
      return (
        <div>
          <span class="project-techno">{t}</span>
        </div>
      )
    })
  }
     </div>
</div>

<style>
  .container {
    width: 20rem;
    height: 20rem;
    display: flex;
    flex-direction: column;
    padding: 1.6rem;
    border-radius: .5rem;
    border: 1px solid black;
    position: relative;
    cursor: pointer;
  }

  .link {
    position: absolute;
    top: .1rem;
    right: .2rem;
  }

  .project-title {
    font-size: 1.2rem;
    padding-bottom: 1rem;
  }

  .project-description{
    font-size:  1rem;
  }

  .project-techno-container {
    display: flex;
    gap: .3rem;
    align-items: end;
    height: 100%;
  }

  .project-techno {
    font-size: .8rem; 
  }
</style>
