---
import Layout from "../layout/Layout.astro"
import Project from "./Project.astro"
import Title from "./Title.astro"

const listProjects = [
  {
    name: "Nasa Launch System API",
    description: "Building API using MCVS with NodeJs archi and Writing integration test",
    technologies: [
      "NodeJS",
      "Jest | Supertest",
      "Github Actions"
    ],
    github: "https://github.com/manohySr/NasaTest",
    live: ""
  },
  {
    name: "Nasa Launch System API",
    description: "Building API using MCVS with NodeJs archi and Writing integration test",
    technologies: [
      "NodeJS",
      "Jest | Supertest",
      "Github Actions"
    ],
    github: "https://github.com/manohySr/NasaTest",
    live: ""
  },
  {
    name: "Nasa Launch System API",
    description: "Building API using MCVS with NodeJs archi and Writing integration test",
    technologies: [
      "NodeJS",
      "Jest | Supertest",
      "Github Actions"
    ],
    github: "https://github.com/manohySr/NasaTest",
    live: ""
  }
]
---
<Layout class="mt-2">
  <Title>__Things I've Build</Title>
  <div class="container" id="projects">
    {
    listProjects.length > 0 && listProjects.map(project => {
    return (
    <Project name={project.name} description={project.description} technologies={project.technologies} />
    )
    })
    }
  </div>
</Layout>

<style>
  .container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
  }
</style>


